.user-bg{
  min-height: 100vh;
  width: 100%;
  background-color: rgba(230, 230, 230, 1);
}
.title-card{
  background-color: var(--secondary);
  color: #fff;
}
.user-card{
	width: 220px;
}
.user-img{
  width: 150px;
  height: 150px;
}
.typeUser-list{
  max-height: 400px;
  overflow-y: auto;
}
